<h3>Pills</h3>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" tabindex="0">Regular link</a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" tabindex="0" data-toggle="dropdown" data-submenu>
      Dropdown
    </a>

    <%- include dropdown-menu.html -%>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" tabindex="0" data-toggle="dropdown" data-submenu>
      Dropdown 2
    </a>

    <%- include dropdown-menu.html -%>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" tabindex="0" data-toggle="dropdown" data-submenu>
      Dropdown 3
    </a>

    <%- include dropdown-menu.html -%>
  </li>
</ul>
